In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/lowest_ranked_movies_data.csv')
df

,rank,name,year,certification,duration,rating,review_count,director,writer,genre,stars
0,1,Disaster Movie,2008,PG-13,1h 27m,1.9,94K,"['Jason Friedberg', 'Aaron Seltzer']","['Jason Friedberg', 'Aaron Seltzer']","['Comedy', 'Sci-Fi']","['Carmen Electra', 'Vanessa Lachey', 'Nicole P..."
1,2,Manos: The Hands of Fate,1966,Not Rated,1h 10m,1.6,37K,['Harold P. Warren'],['Harold P. Warren'],['Horror'],"['Tom Neyman', 'John Reynolds', 'Diane Adelson']"
2,3,Birdemic: Shock and Terror,2010,Not Rated,1h 45m,1.7,25K,['James Nguyen'],"['Writer', 'James Nguyen', '']","['Horror', 'Thriller']","['Alan Bagh', 'Whitney Moore', 'Tippi Hedren']"
3,4,Superbabies: Baby Geniuses 2,2004,PG,1h 28m,1.5,32K,['Bob Clark'],"['Writers', 'Robert Grasmere', 'Francisca Mato...","['Comedy', 'Family', 'Sci-Fi']","['Jon Voight', 'Scott Baio', 'Vanessa Angel']"
4,5,The Hottie & the Nottie,2008,PG-13,1h 31m,2.0,39K,['Tom Putnam'],['Heidi Ferrer'],"['Comedy', 'Romance']","['Paris Hilton', 'Joel David Moore', 'Christin..."
...,...,...,...,...,...,...,...,...,...,...,...
95,96,The Love Guru,2008,PG-13,1h 27m,3.8,54K,['Marco Schnabel'],"['Mike Myers', 'Graham Gordy']","['Comedy', 'Romance', 'Sport']","['Mike Myers', 'Jessica Alba', 'Romany Malco']"
96,97,The Hungover Games,2014,R,1h 25m,3.5,16K,['Josh Stolberg'],"['Writers', 'Kyle Barnett Anderson', 'David Be...","['Adventure', 'Comedy', 'Fantasy']","['Ben Begley', 'Herbert Russell', 'Ross Nathan']"
97,98,In the Name of the King: A Dungeon Siege Tale,2007,PG-13,2h 7m,3.8,51K,['Uwe Boll'],"['Writers', 'Doug Taylor', 'Jason Rappaport', ...","['Action', 'Adventure', 'Fantasy']","['Jason Statham', 'Ron Perlman', 'Ray Liotta']"
98,99,The Avengers,1998,PG-13,1h 29m,3.8,45K,['Jeremiah S. Chechik'],"['Sydney Newman', 'Don MacPherson']","['Action', 'Adventure', 'Sci-Fi']","['Ralph Fiennes', 'Uma Thurman', 'Sean Connery']"
99,100,The Flintstones in Viva Rock Vegas,2000,PG,1h 30m,3.7,25K,['Brian Levant'],"['Writers', 'William Hanna', 'Joseph Barbera',...","['Comedy', 'Family', 'Romance']","['Mark Addy', 'Stephen Baldwin', 'Kristen John..."

In [ ]:
print(df.shape)

(100, 11)

In [ ]:
print(df.columns)

Index(['rank', 'name', 'year', 'certification', 'duration', 'rating',
       'review_count', 'director', 'writer', 'genre', 'stars'],
      dtype='object')

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   rank           100 non-null    int64
 1   name           100 non-null    object
 2   year           100 non-null    int64
 3   certification  96 non-null     object
 4   duration       96 non-null     object
 5   rating         100 non-null    float64
 6   review_count   100 non-null    object
 7   director       100 non-null    object
 8   writer         100 non-null    object
 9   genre          100 non-null    object
 10  stars          100 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 8.7+ KB
None

In [ ]:
print(df.iloc[2])

rank                                                          3
name                                 Birdemic: Shock and Terror
year                                                       2010
certification                                         Not Rated
duration                                                 1h 45m
rating                                                      1.7
review_count                                                25K
director                                       ['James Nguyen']
writer                           ['Writer', 'James Nguyen', '']
genre                                    ['Horror', 'Thriller']
stars            ['Alan Bagh', 'Whitney Moore', 'Tippi Hedren']
Name: 2, dtype: object

In [ ]:
df[['name','genre']]

,name,genre
0,Disaster Movie,"['Comedy', 'Sci-Fi']"
1,Manos: The Hands of Fate,['Horror']
2,Birdemic: Shock and Terror,"['Horror', 'Thriller']"
3,Superbabies: Baby Geniuses 2,"['Comedy', 'Family', 'Sci-Fi']"
4,The Hottie & the Nottie,"['Comedy', 'Romance']"
...,...,...
95,The Love Guru,"['Comedy', 'Romance', 'Sport']"
96,The Hungover Games,"['Adventure', 'Comedy', 'Fantasy']"
97,In the Name of the King: A Dungeon Siege Tale,"['Action', 'Adventure', 'Fantasy']"
98,The Avengers,"['Action', 'Adventure', 'Sci-Fi']"
99,The Flintstones in Viva Rock Vegas,"['Comedy', 'Family', 'Romance']"

In [ ]:
df[df['name']=='Disaster Movie']

,rank,name,year,certification,duration,rating,review_count,director,writer,genre,stars
0,1,Disaster Movie,2008,PG-13,1h 27m,1.9,94K,"['Jason Friedberg', 'Aaron Seltzer']","['Jason Friedberg', 'Aaron Seltzer']","['Comedy', 'Sci-Fi']","['Carmen Electra', 'Vanessa Lachey', 'Nicole P..."

In [ ]:
df1=df[['name','duration','director']]
df1

,name,duration,director
0,Disaster Movie,1h 27m,"['Jason Friedberg', 'Aaron Seltzer']"
1,Manos: The Hands of Fate,1h 10m,['Harold P. Warren']
2,Birdemic: Shock and Terror,1h 45m,['James Nguyen']
3,Superbabies: Baby Geniuses 2,1h 28m,['Bob Clark']
4,The Hottie & the Nottie,1h 31m,['Tom Putnam']
...,...,...,...
95,The Love Guru,1h 27m,['Marco Schnabel']
96,The Hungover Games,1h 25m,['Josh Stolberg']
97,In the Name of the King: A Dungeon Siege Tale,2h 7m,['Uwe Boll']
98,The Avengers,1h 29m,['Jeremiah S. Chechik']
99,The Flintstones in Viva Rock Vegas,1h 30m,['Brian Levant']

In [ ]:
#Aggregation - computing a summary statistics
#Tranformation - perform some group-sepcification operation
#filter- discarding the data with some condition

In [ ]:
import pandas as pd
ipl_data={'Team':['Rider','Devils','Devils','Kings','Kings','Kings','Kings','Kings','Riders','Royals','Royals','Riders'],'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
          'year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],'points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
print(df)

      Team  Rank  year  points
0    Rider     1  2014     876
1   Devils     2  2015     789
2   Devils     2  2014     863
3    Kings     3  2015     673
4    Kings     3  2014     741
5    Kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [ ]:
df1= df.groupby('Rank').groups
print(df1)

{1: [0, 6, 7, 10], 2: [1, 2, 8, 11], 3: [3, 4], 4: [5, 9]}

In [ ]:
df2=df.groupby('Rank').max()
print(df2)

        Team  year  points
Rank
1     Royals  2017     876
2     Riders  2017     863
3      Kings  2015     741
4     Royals  2015     812

In [ ]:
df2=df.groupby('Rank').max()['points']
print(df2)

Rank
1    876
2    863
3    741
4    812
Name: points, dtype: int64

In [ ]:
df2=df.groupby('Team').max()['Rank']
print(df2)

Team
Devils    2
Kings     4
Rider     1
Riders    2
Royals    4
Name: Rank, dtype: int64

In [ ]:
df2=df.groupby('Team').min()['Rank']
print(df2)

Team
Devils    2
Kings     1
Rider     1
Riders    2
Royals    1
Name: Rank, dtype: int64

In [ ]:
import pandas as pd # Import the pandas library and alias it as 'pd'

df=pd.DataFrame(ipl_data)
grouped=df.groupby('Team')
print(grouped.count())

        Rank  year  points
Team
Devils     2     2       2
Kings      5     5       5
Rider      1     1       1
Riders     2     2       2
Royals     2     2       2

In [ ]:
df=pd.DataFrame(ipl_data)
grouped=df.groupby('Team')
score=lambda x:x+20
#score=lambda x:(x-x.mean())/x.std()*10
print(grouped.transform(score))

    Rank  year  points
0     21  2034     896
1     22  2035     809
2     22  2034     883
3     23  2035     693
4     23  2034     761
5     24  2035     832
6     21  2036     776
7     21  2037     808
8     22  2036     714
9     24  2034     721
10    21  2035     824
11    22  2037     710

In [ ]:
grouped=df.groupby('Team')['Rank']
score=lambda x:x+20
#score=lambda x:(x-x.mean())/x.std()*10
print(grouped.transform(score))

0     21
1     22
2     22
3     23
4     23
5     24
6     21
7     21
8     22
9     24
10    21
11    22
Name: Rank, dtype: int64

In [ ]:
df=pd.DataFrame(ipl_data)
print(df.groupby('Team').filter(lambda x:len(x)>=3))

    Team  Rank  year  points
3  Kings     3  2015     673
4  Kings     3  2014     741
5  Kings     4  2015     812
6  Kings     1  2016     756
7  Kings     1  2017     788

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Salaries (1).csv')
df

<ipython-input-2-ae6e77c5899c>:3: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/content/drive/MyDrive/Salaries (1).csv')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [ ]:
print(df.shape)

(148654, 13)

In [ ]:
print(df.columns)

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [ ]:
print(df.isnull())

           Id  EmployeeName  JobTitle  BasePay  OvertimePay  OtherPay  \
0       False         False     False    False        False     False
1       False         False     False    False        False     False
2       False         False     False    False        False     False
3       False         False     False    False        False     False
4       False         False     False    False        False     False
...       ...           ...       ...      ...          ...       ...
148649  False         False     False    False        False     False
148650  False         False     False    False        False     False
148651  False         False     False    False        False     False
148652  False         False     False    False        False     False
148653  False         False     False    False        False     False

        Benefits  TotalPay  TotalPayBenefits   Year  Notes  Agency  Status
0           True     False             False  False   True   False    True
1           True     False             False  False   True   False    True
2           True     False             False  False   True   False    True
3           True     False             False  False   True   False    True
4           True     False             False  False   True   False    True
...          ...       ...               ...    ...    ...     ...     ...
148649     False     False             False  False   True   False   False
148650     False     False             False  False   True   False    True
148651     False     False             False  False   True   False    True
148652     False     False             False  False   True   False    True
148653     False     False             False  False   True   False   False

[148654 rows x 13 columns]

In [ ]:
df['BasePay'].isnull().sum()

605

In [ ]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [ ]:
df.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [ ]:
# Calculate the mean of 'BasePay'
df['BasePay'].mean()

66325.4488404877

In [ ]:
df['Year'].mean()

2012.5226431848453

In [ ]:
df['BasePay'].mean()

66325.4488404877

In [ ]:
df['TotalPay'].mean()

74768.32197169267

In [ ]:
df[['TotalPay','EmployeeName']].max()

TotalPay         567595.43
EmployeeName    Zuri Jones
dtype: object

In [ ]:
df[df['TotalPay']==df['TotalPay'].max()][['EmployeeName','TotalPay']]

     EmployeeName   TotalPay
0  NATHANIEL FORD  567595.43

NameError: name 'df' is not defined

In [8]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/Salaries (1).csv")
df['TotalPay'].max()

<ipython-input-8-8fc6aa175518>:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/content/drive/MyDrive/Salaries (1).csv")

567595.43

In [11]:
df[df['EmployeeName']=='Amy P Hart']['JobTitle']

72935           Dept Head V
110532    Asst Med Examiner
Name: JobTitle, dtype: object

In [13]:
df['TotalPay']['EmployeeName'].max()

KeyError: 'EmployeeName'

In [15]:
# Find the maximum TotalPay
max_total_pay = df['TotalPay'].max()

# Filter the DataFrame to find the row(s) with the maximum TotalPay
df[df['TotalPay'] == max_total_pay][['EmployeeName', 'TotalPay']]

     EmployeeName   TotalPay
0  NATHANIEL FORD  567595.43